# Missing Value Analysis

## Types of Missing Value

#### 1) Missing Completely at Random

#### 2) Missing at Random

#### 3) Missing at not Random

#### 4) Structurally Missing

## Test of Missing Value Randomness

* #### Visualization Techniques

* #### Independent Two Sample T Test

* #### Correlation Test

* #### Little's MCAR Test

## Cleaning Methods

* #### Method of removing variable or observation

* #### Listwise Method

* #### Pairwise Method

## Assignment Methods

* #### Mean, Median

* #### Hot Deck

* #### External Assignment

## Predictive Methods

* #### Machine Learning

* #### EM

* #### Multiple Assignment

## Quick Solve

In [10]:
import numpy as np
import pandas as pd
v1 = np.array([1, 3, 6, np.NAN, 7, 1, np.NAN, 9, 15])
v2 = np.array([7, np.NAN, 5, 8, 12, np.NAN, np.NAN, 2, 3])
v3 = np.array([np.NAN, 12, 5, 6, 14, 7, np.NAN, 2, 31])
df = pd.DataFrame({
    "V1": v1,
    "V2": v2,
    "V3": v3,
})
df.head()

    V1    V2    V3
0  1.0   7.0   NaN
1  3.0   NaN  12.0
2  6.0   5.0   5.0
3  NaN   8.0   6.0
4  7.0  12.0  14.0

In [13]:
df.isnull().sum().sum()

7

In [23]:
df[df.isnull().any(axis=1)]

    V1   V2    V3
0  1.0  7.0   NaN
1  3.0  NaN  12.0
3  NaN  8.0   6.0
5  1.0  NaN   7.0
6  NaN  NaN   NaN

In [24]:
df[df.notnull().all(axis=1)]

     V1    V2    V3
2   6.0   5.0   5.0
4   7.0  12.0  14.0
7   9.0   2.0   2.0
8  15.0   3.0  31.0

#### Removing Missing Values

In [ ]:
df.dropna()

     V1    V2    V3
2   6.0   5.0   5.0
4   7.0  12.0  14.0
7   9.0   2.0   2.0
8  15.0   3.0  31.0

#### Basic Value Assignment

####