# Missing Values Analysis that Depends on Categorical Variables

In [3]:
import numpy as np
import pandas as pd

In [6]:
v1 = np.array([1, 3, 6, np.NaN, 7, 1, np.NaN, 9, 15])
v2 = np.array([7, np.NaN, 5, 8, 12, np.NaN, np.NaN, 2, 3])
v3 = np.array([np.NaN, 12, 5, 6, 14, 7, np.NaN, 2, 31])
v4 = np.array(["IT", "IT", "HR", "HR", "HR", "HR", "HR", "IT", "IT"])

df = pd.DataFrame({
    "salary": v1,
    "v2": v2,
    "v3": v3,
    "department": v4,
})

In [7]:
df

   salary    v2    v3 department
0     1.0   7.0   NaN         IT
1     3.0   NaN  12.0         IT
2     6.0   5.0   5.0         HR
3     NaN   8.0   6.0         HR
4     7.0  12.0  14.0         HR
5     1.0   NaN   7.0         HR
6     NaN   NaN   NaN         HR
7     9.0   2.0   2.0         IT
8    15.0   3.0  31.0         IT

In [ ]:
df.groupby("department")["salary"].mean()

department
HR    4.666667
IT    7.000000
Name: salary, dtype: float64

In [11]:
df["salary"]

0     1.0
1     3.0
2     6.0
3     NaN
4     7.0
5     1.0
6     NaN
7     9.0
8    15.0
Name: salary, dtype: float64

In [14]:
df["salary"].fillna(df.groupby("department")["salary"].transform("mean"))

0     1.000000
1     3.000000
2     6.000000
3     4.666667
4     7.000000
5     1.000000
6     4.666667
7     9.000000
8    15.000000
Name: salary, dtype: float64