# Value Assignment for Categorical Variables

In [1]:
import numpy as np
import pandas as pd

In [4]:
v1 = np.array([1, 3, 6, np.NaN, 7, 1, np.NaN, 9, 15])
v4 = np.array(["IT", np.NaN, "HR", "HR", "HR", "HR", "HR", "IT", "IT"], dtype=object)

df = pd.DataFrame({
    "salary": v1,
    "department": v4,
})

In [5]:
df

   salary department
0     1.0         IT
1     3.0        NaN
2     6.0         HR
3     NaN         HR
4     7.0         HR
5     1.0         HR
6     NaN         HR
7     9.0         IT
8    15.0         IT

In [9]:
df["department"].fillna(df["department"].mode()[0])

0    IT
1    HR
2    HR
3    HR
4    HR
5    HR
6    HR
7    IT
8    IT
Name: department, dtype: object

In [10]:
df

   salary department
0     1.0         IT
1     3.0        NaN
2     6.0         HR
3     NaN         HR
4     7.0         HR
5     1.0         HR
6     NaN         HR
7     9.0         IT
8    15.0         IT

In [17]:
df["department"].fillna(method = "bfill")

0    IT
1    HR
2    HR
3    HR
4    HR
5    HR
6    HR
7    IT
8    IT
Name: department, dtype: object

In [18]:
df["department"].fillna(method = "ffill")

0    IT
1    IT
2    HR
3    HR
4    HR
5    HR
6    HR
7    IT
8    IT
Name: department, dtype: object