# Predictive Value Assignment

## K Nearest Neighbor

In [1]:
import seaborn as sns
import missingno as msno
import pandas as pd
import numpy as np
titanic = sns.load_dataset("titanic")
df = titanic.copy()
df = df.select_dtypes(include = ["float64", "int64"])
df.head()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [2]:
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [3]:
!pip install ycimpute==0.1.1

Requirement already satisfied: ycimpute==0.1.1 in c:\programdata\anaconda3\lib\site-packages (0.1.1)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ycimpute==0.1.1) (1.16.0)
Requirement already satisfied: numpy>=1.10 in c:\programdata\anaconda3\lib\site-packages (from ycimpute==0.1.1) (1.20.3)
Requirement already satisfied: scikit-learn>=0.17.1 in c:\programdata\anaconda3\lib\site-packages (from ycimpute==0.1.1) (0.24.2)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from ycimpute==0.1.1) (1.7.1)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->ycimpute==0.1.1) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->ycimpute==0.1.1) (2.2.0)

In [4]:
from ycimpute.imputer import knnimput

In [5]:
var_names = df.columns
var_names

Index(['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare'], dtype='object')

In [6]:
n_df = np.array(df)

In [7]:
n_df.shape

(891, 6)

In [8]:
dff = knnimput.KNN(k = 4).complete(n_df)

Imputing row 1/891 with 0 missing, elapsed time: 0.080
Imputing row 101/891 with 0 missing, elapsed time: 0.081
Imputing row 201/891 with 0 missing, elapsed time: 0.082
Imputing row 301/891 with 1 missing, elapsed time: 0.083
Imputing row 401/891 with 0 missing, elapsed time: 0.083
Imputing row 501/891 with 0 missing, elapsed time: 0.084
Imputing row 601/891 with 0 missing, elapsed time: 0.085
Imputing row 701/891 with 0 missing, elapsed time: 0.086
Imputing row 801/891 with 0 missing, elapsed time: 0.086

In [9]:
type(dff)

numpy.ndarray

In [10]:
df = pd.DataFrame(dff, columns = var_names)

In [11]:
df

     survived  pclass        age  sibsp  parch     fare
0         0.0     3.0  22.000000    1.0    0.0   7.2500
1         1.0     1.0  38.000000    1.0    0.0  71.2833
2         1.0     3.0  26.000000    0.0    0.0   7.9250
3         1.0     1.0  35.000000    1.0    0.0  53.1000
4         0.0     3.0  35.000000    0.0    0.0   8.0500
..        ...     ...        ...    ...    ...      ...
886       0.0     2.0  27.000000    0.0    0.0  13.0000
887       1.0     1.0  19.000000    0.0    0.0  30.0000
888       0.0     3.0  22.469024    1.0    2.0  23.4500
889       1.0     1.0  26.000000    0.0    0.0  30.0000
890       0.0     3.0  32.000000    0.0    0.0   7.7500

[891 rows x 6 columns]

In [12]:
df.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

## Random Forests

In [13]:
import seaborn as sns
import missingno as msno
import pandas as pd
import numpy as np
titanic = sns.load_dataset("titanic")
df = titanic.copy()
df = df.select_dtypes(include = ["float64", "int64"])
df.head()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [14]:
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [15]:
var_names = df.columns

In [16]:
import numpy as np
n_df = np.array(df)

In [17]:
from ycimpute.imputer import iterforest
dff = iterforest.IterImput().complete(n_df)

In [18]:
df = pd.DataFrame(dff, columns = var_names)

In [19]:
df

     survived  pclass        age  sibsp  parch     fare
0         0.0     3.0  22.000000    1.0    0.0   7.2500
1         1.0     1.0  38.000000    1.0    0.0  71.2833
2         1.0     3.0  26.000000    0.0    0.0   7.9250
3         1.0     1.0  35.000000    1.0    0.0  53.1000
4         0.0     3.0  35.000000    0.0    0.0   8.0500
..        ...     ...        ...    ...    ...      ...
886       0.0     2.0  27.000000    0.0    0.0  13.0000
887       1.0     1.0  19.000000    0.0    0.0  30.0000
888       0.0     3.0  24.253619    1.0    2.0  23.4500
889       1.0     1.0  26.000000    0.0    0.0  30.0000
890       0.0     3.0  32.000000    0.0    0.0   7.7500

[891 rows x 6 columns]

In [20]:
df.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

## EM Algorithm

In [21]:
import seaborn as sns
import missingno as msno
import pandas as pd
import numpy as np
titanic = sns.load_dataset("titanic")
df = titanic.copy()
df = df.select_dtypes(include = ["float64", "int64"])
df.head()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [22]:
from ycimpute.imputer import EM

In [23]:
var_names = df.columns

In [24]:
n_df = np.array(df)

In [25]:
dff = EM().complete(n_df)

In [26]:
df = pd.DataFrame(dff, columns = var_names)

In [27]:
df

     survived  pclass        age  sibsp  parch     fare
0         0.0     3.0  22.000000    1.0    0.0   7.2500
1         1.0     1.0  38.000000    1.0    0.0  71.2833
2         1.0     3.0  26.000000    0.0    0.0   7.9250
3         1.0     1.0  35.000000    1.0    0.0  53.1000
4         0.0     3.0  35.000000    0.0    0.0   8.0500
..        ...     ...        ...    ...    ...      ...
886       0.0     2.0  27.000000    0.0    0.0  13.0000
887       1.0     1.0  19.000000    0.0    0.0  30.0000
888       0.0     3.0  23.301512    1.0    2.0  23.4500
889       1.0     1.0  26.000000    0.0    0.0  30.0000
890       0.0     3.0  32.000000    0.0    0.0   7.7500

[891 rows x 6 columns]

In [28]:
df.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64