# Reading External Data

In [4]:
import pandas as pd

In [9]:
pd.read_csv("../../Datasets/pandas14dataset/sample.csv", sep = ";")

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0