# Conditinial Element Operations

In [31]:
import numpy as np
import pandas as pd
m = np.random.randint(1, 30, size = (10, 3))
df = pd.DataFrame(m, columns = ["var1", "var2", "var3"])
df

   var1  var2  var3
0    24     8    22
1    16    23    28
2    22    19    27
3    23    22    24
4     1    12     6
5     2    15     4
6    20    20    13
7    28    22    19
8    23     6     2
9     4    11    29

In [32]:
df[df["var1"] > 15]["var1"]

0    24
1    16
2    22
3    23
6    20
7    28
8    23
Name: var1, dtype: int32

In [33]:
df[(df.var1 > 15) & (df.var3 < 15)]

   var1  var2  var3
6    20    20    13
8    23     6     2

In [34]:
df.loc[(df.var1 > 15), ["var1", "var3"]]

   var1  var3
0    24    22
1    16    28
2    22    27
3    23    24
6    20    13
7    28    19
8    23     2