# Pandas Creating Dataframes

In [2]:
import pandas as pd

In [3]:
l = [1, 5, 6, 2, 5]

In [4]:
l

[1, 5, 6, 2, 5]

In [5]:
df = pd.DataFrame(l, columns = ["Variable name"])

In [6]:
df

   Variable name
0              1
1              5
2              6
3              2
4              5

In [7]:
import numpy as np

In [8]:
m = np.arange(1, 10).reshape((3, 3))

In [9]:
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [10]:
pd.DataFrame(m, columns = ["var1", "var2", "var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [11]:
df = pd.DataFrame(m, columns = ["var1", "var2", "var3"])
df.head()

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [12]:
df.columns = ("deg", "deg2", "deg3")

In [13]:
df.head()

   deg  deg2  deg3
0    1     2     3
1    4     5     6
2    7     8     9

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg', 'deg2', 'deg3'], dtype='object')]

In [16]:
df.shape

(3, 3)

In [17]:
df.ndim

2

In [18]:
df.size

9

In [19]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [20]:
df.tail()

   deg  deg2  deg3
0    1     2     3
1    4     5     6
2    7     8     9