# Observation with Pandas

#### loc & iloc

In [17]:
import numpy as np

In [18]:
import pandas as pd

In [19]:
m = np.random.randint(1, 30, size = (10, 3))
df = pd.DataFrame(m, columns = ["var1", "var2", "var3"], index = ["a", "b", "c", "d", "e", "f", "g", "h", "f", "j"])
df

   var1  var2  var3
a    25     6    12
b    21    29    17
c    10     6    23
d    28     2     5
e     6    13    18
f    26    19    23
g    24    18    18
h     9     7    11
f    27    26     4
j    13    10    10

### loc: using for making choices by Pandas DataFrame indexes

In [20]:
df.loc["a":"c"]

   var1  var2  var3
a    25     6    12
b    21    29    17
c    10     6    23

### iloc: using for making choices by standart Python iterator object indexes

In [21]:
df.iloc[0:3]

   var1  var2  var3
a    25     6    12
b    21    29    17
c    10     6    23

In [22]:
df.iloc[0:3, 0:2]

   var1  var2
a    25     6
b    21    29
c    10     6

In [24]:
df.loc["a":"c", "var3"]

a    12
b    17
c    23
Name: var3, dtype: int32

In [25]:
df.iloc[0:3]["var3"]

a    12
b    17
c    23
Name: var3, dtype: int32