# Observation with Pandas

#### loc & iloc

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
m = np.random.randint(1, 30, size = (10, 3))
df = pd.DataFrame(m, columns = ["var1", "var2", "var3"])
df

   var1  var2  var3
0    22     6    19
1    28     2    29
2    22    25    25
3    16    29    16
4    13    25    22
5    17    20    19
6    20    23    29
7    11     2    16
8    21    17    23
9     3    12    28

### loc: using for making choices by Pandas DataFrame indexes

In [11]:
df.loc[0:3]

   var1  var2  var3
0    22     6    19
1    28     2    29
2    22    25    25
3    16    29    16

### iloc: using for making choices by standart Python iterator object indexes

In [7]:
df.iloc[0:3]

   var1  var2  var3
0    22     6    19
1    28     2    29
2    22    25    25

In [8]:
df.iloc[0:3, 0:2]

   var1  var2
0    22     6
1    28     2
2    22    25

In [9]:
df.loc[0:3, "var3"]

0    19
1    29
2    25
3    16
Name: var3, dtype: int32

In [10]:
df.iloc[0:3]["var3"]

0    19
1    29
2    25
Name: var3, dtype: int32