# Aggregation and Grouping

### Basic aggregation functions
* count()
* first()
* last()
* mean()
* median()
* min()
* max()
* std()
* var()
* sum()

In [6]:
import pandas as pd
import seaborn as sns

In [7]:
df = sns.load_dataset("planets")

In [8]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [9]:
df.shape

(1035, 6)

In [13]:
df["mass"].mean()

2.6381605847953233

In [14]:
df["mass"].count()

513

In [15]:
df["mass"].min()

0.0036

In [16]:
df["mass"].max()

25.0

In [17]:
df["mass"].sum()

1353.37638

In [18]:
df["mass"].std()

3.8186166509616046

In [19]:
df["mass"].var()

14.58183312700122

In [21]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0